[submodule "Terraform"]
	path = AWSTerraform
	url = git@github.com:maker2413/AWSInfra
[submodule "HetznerTerraform"]
	path = HetznerInfra
	url = git@github.com:maker2413/HetznerInfra
[submodule "Olympus"]
	path = Olympus
	url = git@github.com:maker2413/Olympus
[submodule "OlympusCloud"]
	path = OlympusCloud
	url = git@github.com:maker2413/OlympusCloud.git
